
        @media screen and (orientation:landscape) {
            .box{ 
                height: 500px;
                width: 200px;
                background-color: red;}
            
        }
        .box{
                height: 50px;
                width: 200px;
                background-color: lightsalmon;
            }
        @media screen and (orientation:portrait){
           .box{
            height: 50px;
            width: 200px;
            background-color: yellow;
           }

        } 